asgiref==3.8.1
beautifulsoup4==4.12.3
Brotli==1.1.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
coverage==6.5.0
dj-database-url==0.5.0
Django==4.0.4
django-bootstrap4==22.3
django-filter==21.1
flake8==4.0.1
gunicorn==20.1.0
h11==0.14.0
-e git+ssh://git@github.com/Acemore/python-project-lvl4.git@67703eb20023dcbc2f1f498be0d1f1df6b6bf400#egg=hexlet_code
idna==3.10
mccabe==0.6.1
psycopg2-binary==2.9.10
pycodestyle==2.8.0
pyflakes==2.4.0
python-dotenv==0.20.0
requests==2.32.3
rollbar==0.16.3
six==1.17.0
soupsieve==2.6
sqlparse==0.5.2
urllib3==2.2.3
uvicorn==0.32.1
whitenoise==6.8.2
